article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}body{margin:0;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;margin:0.67em 0;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:bold;}dfn{font-style:italic;}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em;}pre{white-space:pre-wrap;}q{quotes:"\201C" "\201D" "\2018" "\2019";}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-0.5em;}sub{bottom:-0.25em;}img{border:0;}svg:not(:root){overflow:hidden;}figure{margin:0;}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}legend{border:0;padding:0;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,select{text-transform:none;}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;}button[disabled],html input[disabled]{cursor:default;}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}
*,
*::after,
*::before {
	box-sizing: border-box;
}

:root {
	font-size: 14px;
}

html, body {
	height: 100%;
}

body {
	--color-text: #231a16;
	--color-text-secondary: #cf5500;
	--color-bg: #df8f56;
	--color-link: #231a16;
	--color-link-hover: #cf5500;
	--color-focus: #fff;
	color: var(--color-text);
	background-color: var(--color-bg);
	font-family: jaf-bernina-sans, Futura, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	text-decoration: none;
	color: var(--color-link);
	outline: none;
}

a:hover,
a:focus {
	color: var(--color-link-hover);
}

a:focus {
	outline: 2px solid var(--color-focus);
}

main {
	position: relative;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
}

.frame {
	padding: 1rem 5vw;
	position: relative;
	text-align: center;
}

.frame__title {
	font-size: 1rem;
	margin: 0 0 1rem;
}

.frame__links {
	display: inline;
}

.frame__links a:not(:last-child) {
	margin-right: 1rem;
}

.frame__info {
	display: block;
	margin: 1rem 0;
	color: var(--color-text-secondary);
}

.frame__nav {
	position: relative;
	margin: 1rem 0;
}

.content {
	display: flex;
	width: 100%;
	margin: auto 0 0 0;
	padding: 0 0 5vh;
	flex-wrap: wrap;
	position: relative;
	align-items: center;
	justify-content: space-between;
}

.slideshow {
	display: flex;
	justify-content: flex-end;
	padding: 0 0 2rem 5vw;
}

.slide {
	padding: 0 1rem;
	width: min-content;
}

.slide:first-child {
	padding: 0 1rem 0 0;
}

.slide:last-child {
	padding: 0 0 0 1rem;
}

.slide__number {
	display: block;
	font-family: tenez, serif;
	font-weight: 700;
	font-size: 2.5rem;
	color: var(--color-text-secondary);
}

.slide--current .slide__number {
	color: var(--color-text);
}

.slide__number::before {
	content: '- ';
}

.slide__caption {
	margin: 1rem 0 0 0;
	opacity: 0;
	pointer-events: none;
	hyphens: auto;
}

.slide--current .slide__caption {
	opacity: 1;
	pointer-events: auto;
}

.slide__more {
	display: block;
	width: min-content;
	white-space: nowrap;
	text-transform: lowercase;
	margin: 2rem 0 0 0;
	font-weight: bold;
}

.content__meta {
	color: var(--color-text-secondary);
}

.content__title-wrap {
	flex: none;
	padding: 2rem 5vw;
	position: relative;
	align-self: flex-start;
}

.content__title {
	margin: 0.5rem 0 0 0;
	font-family: tenez, serif;
	font-weight: 700;
	font-size: 2.75rem;
	line-height: 1;
}

@media screen and (min-width: 32em) {
	.content {
		flex-wrap: nowrap;
	}
	.content__title-wrap {
		width: calc(50% - 16px);
		height: 100%;
	}
	.content__title-wrap::after {
		content: '';
		width: 3rem;
		height: 3px;
		background: var(--color-text-secondary);
		position: absolute;
		bottom: 0;
	}
	.slideshow {
		padding: 0;
	}
	.slide__caption {
		height: 150px;
		display: flex;
		flex-direction: column;
	}
	.slide__more {
		margin-top: auto;
	}
}


@media screen and (min-width: 53em) {
	main {
		overflow: hidden;
	}
	.frame {
		display: grid;
		align-content: space-between;
		width: 100%;
		text-align: left;
		max-width: none;
		padding: 2rem;
		grid-template-columns: calc(50% - 16px) 25% calc(25% + 16px);
		grid-template-areas: 'title menu links';
	}
	.frame__title-wrap {
		grid-area: title;
		display: flex;
		flex-wrap: wrap;
	}
	.frame__title {
		flex: none;
		margin: 0 3rem 0.5rem 0;
	}
	.frame__links {
		flex: none;
		grid-area: links;
		justify-self: end;
		margin: 0 1rem 0 0;
	}
	.frame__nav {
		margin: 0;
		grid-area: menu;
	}
	.frame__info { 
		margin: 0;
	}
	.content__title-wrap {
		padding: 2rem 2rem 0;
	}
}